{% extends 'base.html.twig' %}
{% block title %}
    У нас нет такой страницы
{% endblock %}
{% block body %}
    <h1>У нас нет такой страницы, но есть много других!</h1>
    <p>Возможно, вы зашли на эту страницу по случайности. Именно этой страницы у нас нет, но есть много других, намного лучше!</p>
{% endblock %}
